.button {
	padding: 6px 15px;
	color: var(--primary-color);
	background: var(--bg-color);
	cursor: pointer;
}

.clear,
.clearInverted {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
}

.clearInverted {
	color: var(--inverted-primary-color);
}

.outline {
	color: var(--primary-color);
	background: none;
	border: 1px solid var(--primary-color);
}

.outline_red {
	color: var(--red-light);
	background: none;
	border: 1px solid var(--red-light);
}

.background {
	color: var(--primary-color);
	background: var(--bg-color);
	border: none;
}

.backgroundInverted {
	color: var(--inverted-primary-color);
	background: var(--inverted-bg-color);
	border: none;
}

.square {
	padding: 0;
	width: 40px;
	height: 40px;
}

.size_m {
	font: var(--font-m);
}

.size_l {
	font: var(--font-l);
}

.size_xl {
	font: var(--font-xl);
}

.square.size_m {
	width: var(--font-line-m);
	height: var(--font-line-m);
}

.square.size_l {
	width: var(--font-line-l);
	height: var(--font-line-l);
}

.square.size_xl {
	width: var(--font-line-xl);
	height: var(--font-line-xl);
}

.disabled {
	opacity: 0.5;
}
