.profileCard {
	padding: 20px;
	border: 2px solid var(--inverted-bg-color);
}

.header {
	display: flex;
}

.data {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input {
	margin-top: 10px;
}

.error,
.loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 300px;
}
